@page
@model Hospital2.Pages.test.IndexModel

@{
    ViewData["Title"] = "Index";
}

<style>
    h2 {
        text-align: center;
        margin-top: 20px;
    }
</style>


<h2>Department</h2>

<p>
    <a asp-page="Create" class="create-button"><i class="fa fa-plus icon-button" aria-hidden="true"></i>New Department</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Departments[0].DepartmentName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Departments) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DepartmentName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
